In [1]:
import pandas as pd
import numpy as np

In [2]:
source = pd.read_csv('datasets/others/xinyi-source-new.csv')
sample = pd.read_csv('datasets/others/xinyi-sample.csv')
inducer = pd.read_csv('datasets/others/xinyi-inducer.csv')

In [3]:
source_clean = source.melt(id_vars='Unnamed: 0').dropna()
source_clean['location'] = source_clean['Unnamed: 0'] + source_clean['variable']
source_clean['variable'] = source_clean['variable'].astype(int)
source_clean = source_clean.sort_values(['Unnamed: 0', 'variable'])[['value', 'location']]
sample_loc = dict(zip(source_clean['value'], source_clean['location']))
sample_loc

{'sample1': 'C11',
 'sample2': 'C12',
 'sample3': 'C13',
 'sample4': 'C14',
 'sample5': 'C15',
 'sample6': 'C16',
 'sample7': 'C17',
 'sample8': 'C18',
 'sample9': 'C19',
 'sample10': 'C20',
 'sample11': 'C21',
 'sample12': 'C22',
 'sampleN-1': 'C23',
 'sampleP-1': 'C24',
 'sampleP2-1': 'D1',
 'inducer1-1': 'D2',
 'inducer2-1': 'D3',
 'inducer3-1': 'D4',
 'inducer4-1': 'D5',
 'inducer5-1': 'D6',
 'sample13': 'D7',
 'sample14': 'D8',
 'sample15': 'D9',
 'sample16': 'D10',
 'sample17': 'D11',
 'sample18': 'D12',
 'sample19': 'D13',
 'sample20': 'D14',
 'sample21': 'D15',
 'sample22': 'D16',
 'sample23': 'D17',
 'sample24': 'D18',
 'sampleN-2': 'D19',
 'sampleP-2': 'D20',
 'sampleP2-2': 'D21',
 'inducer1-2': 'D22',
 'inducer2-2': 'D23',
 'inducer3-2': 'D24',
 'inducer4-2': 'E1',
 'inducer5-2': 'E2',
 'sample25': 'E3',
 'sample26': 'E4',
 'sample27': 'E5',
 'sample28': 'E6',
 'sample29': 'E7',
 'sample30': 'E8',
 'sample31': 'E9',
 'sample32': 'E10',
 'sample33': 'E11',
 'sample34': 'E12',
 'sample35': 'E13',
 'sample36': 'E14',
 'sampleN-3': 'E15',
 'sampleP-3': 'E16',
 'sampleP2-3': 'E17',
 'inducer1-3': 'E18',
 'inducer2-3': 'E19',
 'inducer3-3': 'E20',
 'inducer4-3': 'E21',
 'inducer5-3': 'E22',
 'sample37': 'E23',
 'sample38': 'E24',
 'sample39': 'F1',
 'sample40': 'F2',
 'sample41': 'F3',
 'sample42': 'F4',
 'sample43': 'F5',
 'sample44': 'F6',
 'sample45': 'F7',
 'sample46': 'F8',
 'sample47': 'F9',
 'sample48': 'F10',
 'sampleN-4': 'F11',
 'sampleP-4': 'F12',
 'sampleP2-4': 'F13',
 'inducer1-4': 'F14',
 'inducer2-4': 'F15',
 'inducer3-4': 'F16',
 'inducer4-4': 'F17',
 'inducer5-4': 'F18'}

In [4]:
rev_sample_loc = dict(zip(source_clean['location'], source_clean['value']))
rev_sample_loc

{'C11': 'sample1',
 'C12': 'sample2',
 'C13': 'sample3',
 'C14': 'sample4',
 'C15': 'sample5',
 'C16': 'sample6',
 'C17': 'sample7',
 'C18': 'sample8',
 'C19': 'sample9',
 'C20': 'sample10',
 'C21': 'sample11',
 'C22': 'sample12',
 'C23': 'sampleN-1',
 'C24': 'sampleP-1',
 'D1': 'sampleP2-1',
 'D2': 'inducer1-1',
 'D3': 'inducer2-1',
 'D4': 'inducer3-1',
 'D5': 'inducer4-1',
 'D6': 'inducer5-1',
 'D7': 'sample13',
 'D8': 'sample14',
 'D9': 'sample15',
 'D10': 'sample16',
 'D11': 'sample17',
 'D12': 'sample18',
 'D13': 'sample19',
 'D14': 'sample20',
 'D15': 'sample21',
 'D16': 'sample22',
 'D17': 'sample23',
 'D18': 'sample24',
 'D19': 'sampleN-2',
 'D20': 'sampleP-2',
 'D21': 'sampleP2-2',
 'D22': 'inducer1-2',
 'D23': 'inducer2-2',
 'D24': 'inducer3-2',
 'E1': 'inducer4-2',
 'E2': 'inducer5-2',
 'E3': 'sample25',
 'E4': 'sample26',
 'E5': 'sample27',
 'E6': 'sample28',
 'E7': 'sample29',
 'E8': 'sample30',
 'E9': 'sample31',
 'E10': 'sample32',
 'E11': 'sample33',
 'E12': 'sample34',
 'E13': 'sample35',
 'E14': 'sample36',
 'E15': 'sampleN-3',
 'E16': 'sampleP-3',
 'E17': 'sampleP2-3',
 'E18': 'inducer1-3',
 'E19': 'inducer2-3',
 'E20': 'inducer3-3',
 'E21': 'inducer4-3',
 'E22': 'inducer5-3',
 'E23': 'sample37',
 'E24': 'sample38',
 'F1': 'sample39',
 'F2': 'sample40',
 'F3': 'sample41',
 'F4': 'sample42',
 'F5': 'sample43',
 'F6': 'sample44',
 'F7': 'sample45',
 'F8': 'sample46',
 'F9': 'sample47',
 'F10': 'sample48',
 'F11': 'sampleN-4',
 'F12': 'sampleP-4',
 'F13': 'sampleP2-4',
 'F14': 'inducer1-4',
 'F15': 'inducer2-4',
 'F16': 'inducer3-4',
 'F17': 'inducer4-4',
 'F18': 'inducer5-4'}

In [50]:
adder = 3

In [51]:
ind_idx = adder + 1
sample_clean = sample.melt(id_vars='Unnamed: 0').dropna()
sample_clean['value'] = sample_clean['value'].apply(lambda x: int(x)+(adder*12) if x not in ['N', 'P', 'P2'] else x + '-' + str(ind_idx))
sample_clean['Source Well'] = 'sample' + sample_clean['value'].astype(str).str.split('.', expand = True)[0]
sample_clean['Source Well'] = sample_clean['Source Well'].map(sample_loc)
sample_clean['Destination Well'] = sample_clean['Unnamed: 0'] + sample_clean['variable'].astype(str)
sample_clean['Transfer Volume'] = 240
sample_clean = sample_clean[['Source Well', 'Destination Well', 'Transfer Volume']]
sample_clean = sample_clean.reset_index(drop=True)
sample_clean

    Source Well Destination Well  Transfer Volume
0           E23               B2              240
1           E23               C2              240
2           E24               D2              240
3            F1               E2              240
4            F2               F2              240
..          ...              ...              ...
295          F7              J23              240
296          F8              K23              240
297          F9              L23              240
298          F9              M23              240
299         F10              N23              240

[300 rows x 3 columns]

In [52]:
inducer_clean = inducer.melt(id_vars='Unnamed: 0').dropna()
inducer_clean['Source Well'] = 'inducer' + inducer_clean['value'].astype(str).str.split('.', expand = True)[0] + '-' + str(ind_idx)
inducer_clean['Source Well'] = inducer_clean['Source Well'].map(sample_loc)
inducer_clean['Destination Well'] = inducer_clean['Unnamed: 0'] + inducer_clean['variable'].astype(str)
inducer_clean['Transfer Volume'] = 40
inducer_clean = inducer_clean[['Source Well', 'Destination Well', 'Transfer Volume']]
inducer_clean = inducer_clean.reset_index(drop=True)
inducer_clean

    Source Well Destination Well  Transfer Volume
0           F14               B2               40
1           F14               C2               40
2           F14               D2               40
3           F18               E2               40
4           F18               F2               40
..          ...              ...              ...
295         F15              J23               40
296         F14              K23               40
297         F14              L23               40
298         F14              M23               40
299         F14              N23               40

[300 rows x 3 columns]

In [53]:
picklist = pd.concat([sample_clean, inducer_clean]).sort_index(kind='merge').reset_index(drop=True)
picklist.to_csv('datasets/others/picklist-0{}.csv'.format((adder+1)), index=False)

#### Generate dest layout

In [54]:
picklist = pd.read_csv('datasets/others/picklist-0{}.csv'.format((adder+1)))
picklist['row'] = picklist['Destination Well'].str[0]
picklist['col'] = picklist['Destination Well'].str[1:]
picklist['value'] = picklist['Source Well'].map(rev_sample_loc)
picklist_agg = picklist[['row', 'col', 'value']].groupby(['row', 'col']).agg(lambda x: '_'.join(x)).reset_index()
picklist_agg['col'] = picklist_agg['col'].astype(int)
picklist_agg = picklist_agg.sort_values(['row', 'col'])
picklist_agg

    row  col                  value
10    B    2    sample37_inducer1-4
15    B    3    sample37_inducer1-4
16    B    4    sample37_inducer1-4
17    B    5    sample37_inducer1-4
18    B    6    sample37_inducer2-4
..   ..  ...                    ...
287   O   11   sampleP-4_inducer1-4
288   O   12  sampleP2-4_inducer1-4
289   O   13  sampleP2-4_inducer1-4
290   O   14  sampleP2-4_inducer1-4
291   O   15  sampleP2-4_inducer1-4

[300 rows x 3 columns]

In [55]:
mask = picklist_agg['value'].duplicated(keep=False)
picklist_agg.loc[mask, 'value'] = picklist_agg.loc[mask, 'value'] + '_' + picklist_agg.groupby('value').cumcount().add(1).astype(str)
#picklist_agg['value'] = picklist_agg['value'].str[:-1] + '_' + picklist['value'].str[-1]
picklist_agg

    row  col                    value
10    B    2    sample37_inducer1-4_1
15    B    3    sample37_inducer1-4_2
16    B    4    sample37_inducer1-4_3
17    B    5    sample37_inducer1-4_4
18    B    6    sample37_inducer2-4_1
..   ..  ...                      ...
287   O   11   sampleP-4_inducer1-4_4
288   O   12  sampleP2-4_inducer1-4_1
289   O   13  sampleP2-4_inducer1-4_2
290   O   14  sampleP2-4_inducer1-4_3
291   O   15  sampleP2-4_inducer1-4_4

[300 rows x 3 columns]

In [56]:
picklist_pvt = picklist_agg.pivot(index='row', columns='col', values='value').reset_index()#
picklist_pvt.fillna('empty', inplace=True)
picklist_pvt.loc[-1] = np.NaN
picklist_pvt.index = picklist_pvt.index + 1  # shifting index
picklist_pvt.sort_index(inplace=True)
#picklist_pvt.loc[-1] = np.NaN
picklist_pvt[24] = np.NaN
picklist_pvt = pd.concat([picklist_pvt['row'], pd.Series(['empty']*16), picklist_pvt.drop('row', axis=1)], axis=1)
picklist_pvt.fillna('empty', inplace=True)
picklist_pvt.iloc[0, 0] = 'A'
picklist_pvt.iloc[15, 0] = 'P'
picklist_pvt.to_csv('datasets/others/destination_layout_0{}.csv'.format((adder+1)), index=False)